<%# ejsRootは都度変更する %>
<% const ejsRoot = ''; %>
<%
    const pageTitle = "トップページ | hoge";
    const pageDescription = "トップページのディスクプリクション | hoge";
    const pageCanonical = "https://www.hoge.jp/";
%>

<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pageTitle %></title>
    <meta name="description" content="<%- pageDescription %>">
    <meta name="keywords" content="hoge">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="<%= pageCanonical %>">
    <%# 共通CSS %>
    <%- include(ejsRoot + '_component/_common/_css', {root: ejsRoot}); %>
    <!-- ページ独自CSS -->
    <link rel="stylesheet" type="text/css" href="<%- ejsRoot %>assets/css/top.css">
    <!-- Slider -->
    <link rel="stylesheet" type="text/css" href="<%- ejsRoot %>assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="<%- ejsRoot %>assets/vendor/slick/slick-theme.css"/>
    <%# OGP %>
    <%- include(ejsRoot + '_component/_common/_ogp', {root: ejsRoot, ogType: 'website', ogTitle: pageTitle, ogDescription: pageDescription, ogUrl: pageCanonical}); %>
    <%# Googleタグマネージャー %>
    <%- include(ejsRoot + '_component/_common/_gtm') %>
</head>

<body>
    <%- include(ejsRoot + '_component/_common/_header', {root: ejsRoot, page: 'top'}) %>
    <!-- /header -->

    <div class="c-breadcrumb">
        <h1>hoge</h1>
    </div>

    <main class="c-main">
        <div class="c-slider-area">
            <div class="c-slider">
                <div class="c-slider__content" data-slider-mv>
                    <div class="c-slider__item">
                        <a class="c-slider__link" href="">
                            <img src="https://picsum.photos/id/1/2000/600" alt="ダミー画像">
                        </a>
                    </div>
                    <div class="c-slider__item">
                        <a class="c-slider__link" href="">
                            <img src="https://picsum.photos/id/2/2000/600" alt="ダミー画像">
                        </a>
                    </div>
                    <div class="c-slider__item">
                        <a class="c-slider__link" href="">
                            <img src="https://picsum.photos/id/3/2000/600" alt="ダミー画像">
                        </a>
                    </div>
                </div>
                <div class="c-slider__mv">
                    <img src="https://picsum.photos/id/1/2000/600" alt="ダミー画像">
                </div>
            </div>
        </div>
        <!-- /Slider -->

        <div class="c-section">
            <div class="c-section__content">
                <%- include(ejsRoot + '_component/_sample/_article-card', {root: ejsRoot, page: 'top'}); %>
            </div>
        </div>
    </main>
    <!-- /main -->

    <%- include(ejsRoot + '_component/_common/_footer', {root: ejsRoot, page: 'top'}); %>
    <!-- /footer -->
    <%# 共通JS %>
    <%- include(ejsRoot + '_component/_common/_js', {root: ejsRoot}); %>
    <%# ページ独自JSがある場合は、下記に記述 %>
    <script src="<%- ejsRoot %>assets/vendor/slick/slick.min.js" defer></script>
    <script src="<%- ejsRoot %>assets/js/top.js" defer></script>
</body>

</html>