<%#
    共通利用<header>タグ
    ※ページ独自のデザインがある場合は、パラメータを渡しclassを付与する
%>

<%#
Share URL
%>

<%
const twURL = 'https://twitter.com/intent/tweet?text=';
const fbURL = 'https://www.facebook.com/sharer/sharer.php?u=';

const twTOP = twURL + '%E3%83%80%E3%83%9F%E3%83%BC%E3%83%86%E3%82%AD%E3%82%B9%E3%83%88%E3%80%81%E3%81%93%E3%81%AE%E3%81%A6%E3%81%8D%E3%81%99%E3%81%A8%E3%81%AF%E3%81%A0%E3%81%BF%E3%83%BC%E3%81%A7%E3%81%99%E3%80%82https%3A%2F%2Fwww.hoge.co.jp%2Fhoge%2F';

const fbTOP = fbURL + 'https%3A%2F%2Fwww.hoge.co.jp%2Fhoge%2F';
%>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9NP7H7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header id="header" class="c-header">
    <nav class="c-header__content">
        <div class="c-header-logo">
            <a class="c-header-logo__item" href="<% if (page === 'top') { %>./<% } else { %><%- root %><% } %>">
                <img src="https://placehold.jp/b5b5b5/ffffff/180x48.png?text=LOGO" alt="">
            </a>
        </div>
        <button class="c-header-menu" data-menu-btn></button>
        <div class="c-header-box" data-header-nav>
            <nav class="c-header-box__content" aria-label="サイト内メニュー" aria-haspopup="true">
                <button class="c-header-close" aria-label="閉じる" data-header-close></button>
                <a class="c-header-sp-logo" href="<% if (page === 'top') { %>./<% } else { %><%- root %><% } %>">
                    <img src="https://placehold.jp/b5b5b5/ffffff/180x48.png?text=LOGO" alt="">
                </a>
                <ul class="c-header-list">
                    <li>
                        <a class="c-header-list-item" href="<%- root %>single/">記事ページsample</a>
                    </li>
                    <li>
                        <a class="c-header-list-item" href="<%- root %>layout/">レイアウトsample</a>
                    </li>
                    <li class="c-header-dropdown" data-menu-dropdown>
                        <a class="c-header-list-item" href="hoge">ドロップダウン1</a>
                        <ul class="c-header-dropdown-list" data-menu-dropdown-list>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">その1</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                        </ul>
                    </li>
                    <li class="c-header-dropdown" data-menu-dropdown>
                        <a class="c-header-list-item" href="hoge">ドロップダウン2</a>
                        <ul class="c-header-dropdown-list" data-menu-dropdown-list>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">その2</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                        </ul>
                    </li>
                    <li class="c-header-dropdown" data-menu-dropdown>
                        <a class="c-header-list-item" href="hoge">ドロップダウン3</a>
                        <ul class="c-header-dropdown-list" data-menu-dropdown-list>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">その3</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-dropdown-list__link" href="hoge">ダミーテキスト</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="c-header-list-item" href="https://developer.mozilla.org/ja/docs/Web/API/WebGL_API/Tutorial/Getting_started_with_WebGL" target="_blank">CTAテスト1</a>
                    </li>
                    <li>
                        <a class="c-header-list-item" href="https://developer.mozilla.org/ja/docs/Web/API/Performance_API" target="_blank">CTAテスト2</a>
                    </li>
                </ul>
                <ul class="c-header-sns">
                    <li>
                        <a class="c-header-sns-item" href="<% if (page === 'top') { %><%- twTOP %><% } %>" target="_blank">
                            <img src="https://placehold.jp/00ccff/ffffff/48x48.png?text=Twitter" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a class="c-header-sns-item" href="<% if (page === 'top') { %><%- fbTOP %><% } %>" target="_blank">
                            <img src="https://placehold.jp/4800ff/ffffff/48x48.png?text=Facebook" alt="Facebook">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</header>