<%# ejsRootは都度変更する %>
<% const ejsRoot = '../'; %>
<%
    const pageTitle = "レイアウトページ | hoge";
    const pageDescription = "レイアウトページのディスクプリクション | hoge";
    const pageCanonical = "https://www.hoge.jp/";
%>

<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pageTitle %></title>
    <meta name="description" content="<%- pageDescription %>">
    <meta name="keywords" content="hoge">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="<%= pageCanonical %>">
    <%# 共通CSS %>
    <%- include(ejsRoot + '_component/_common/_css', {root: ejsRoot}); %>
    <!-- ページ独自CSS -->
    <%# OGP %>
    <%- include(ejsRoot + '_component/_common/_ogp', {root: ejsRoot, ogType: 'article', ogTitle: pageTitle, ogDescription: pageDescription, ogUrl: pageCanonical}); %>
    <%# Googleタグマネージャー %>
    <%- include(ejsRoot + '_component/_common/_gtm') %>
</head>

<body>
    <%- include(ejsRoot + '_component/_common/_header', {root: ejsRoot, page: 'single'}) %>
    <!-- /header -->

    <div class="c-breadcrumb">
        <h1>hoge</h1>
    </div>

    <main class="c-main">
        <div class="c-section">
            <section class="c-section__content">
                <h2 class="c-strong">テーブル</h2>
                <div class="c-mt20">
                    <p>SP時 横スクロールあり</p>
                    <div class="c-tbl-scroll">
                        <table class="c-tbl">
                            <thead>
                                <tr>
                                    <th>基本情報</th>
                                    <th>お試し</th>
                                    <th>ライト</th>
                                    <th>レギュラー</th>
                                    <th>プレミアム</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>価格</th>
                                    <td>無料</td>
                                    <td>5,000円</td>
                                    <td>10,000円</td>
                                    <td>50,000円</td>
                                </tr>
                                <tr>
                                    <th>登録人数</th>
                                    <td>1名まで</td>
                                    <td>10名まで</td>
                                    <td>50名まで</td>
                                    <td>300名まで</td>
                                </tr>
                                <tr>
                                    <th>ストレージ容量</th>
                                    <td>100MB</td>
                                    <td>10GB</td>
                                    <td>50GB</td>
                                    <td>100GB</td>
                                </tr>
                                <tr>
                                    <th>オプション</th>
                                    <td>無し</td>
                                    <td>ダミーテキスト、このテキストはダミーです。</td>
                                    <td>いろはにほへとちりぬるお</td>
                                    <td>hoge</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="c-tbl-scroll-note">右にスクロールできます→</p>
                </div>
                <div class="c-mt20">
                    <p>通常版</p>
                    <table class="c-tbl">
                        <thead>
                            <tr>
                                <th>基本情報</th>
                                <th>お試し</th>
                                <th>ライト</th>
                                <th>レギュラー</th>
                                <th>プレミアム</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>価格</th>
                                <td>無料</td>
                                <td>5,000円</td>
                                <td>10,000円</td>
                                <td>50,000円</td>
                            </tr>
                            <tr>
                                <th>登録人数</th>
                                <td>1名まで</td>
                                <td>10名まで</td>
                                <td>50名まで</td>
                                <td>300名まで</td>
                            </tr>
                            <tr>
                                <th>ストレージ容量</th>
                                <td>100MB</td>
                                <td>10GB</td>
                                <td>50GB</td>
                                <td>100GB</td>
                            </tr>
                            <tr>
                                <th>オプション</th>
                                <td>無し</td>
                                <td>ダミーテキスト、このテキストはダミーです。</td>
                                <td>いろはにほへとちりぬるお</td>
                                <td>hoge</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <!-- /テーブル -->
        <section class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong">フォーム</h2>
                <div class="c-mt20">
                    <input class="c-input" type="email" name="email" autocomplete="email">
                    <%#
                    inputタグには適宜、autocomplete属性を追記する
                    例：https://developer.mozilla.org/ja/docs/Web/HTML/Attributes/autocomplete
                    %>
                </div>
            </div>
        </section>
        <!-- /フォーム -->
    </main>
    <!-- /main -->

    <%- include(ejsRoot + '_component/_common/_footer', {root: ejsRoot, page: 'single'}); %>
    <!-- /footer -->
    <%# 共通JS %>
    <%- include(ejsRoot + '_component/_common/_js', {root: ejsRoot}); %>
    <%# ページ独自JSがある場合は、下記に記述 %>
</body>

</html>