<%# ejsRootは都度変更する %>
<% const ejsRoot = '../'; %>
<%
    const pageTitle = "レイアウトページ | hoge";
    const pageDescription = "レイアウトページのディスクプリクション | hoge";
    const pageCanonical = "https://www.hoge.jp/";
%>

<%# 見出し %>
<%
    const ttlName = [
        'テーブル',
        '入力フォーム',
        'タブ切り替え',
        'Google Maps埋め込み',
        'モーダルウィンドウ(YouTube埋め込み)',
        'テキスト強調',
        '汎用アコーディオン',
        '要素内の高さ揃え',
        '汎用ボタン'
    ];
%>

<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pageTitle %></title>
    <meta name="description" content="<%- pageDescription %>">
    <meta name="keywords" content="hoge">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="<%= pageCanonical %>">
    <%# 共通CSS %>
    <%- include(ejsRoot + '_component/_common/_css', {root: ejsRoot}); %>
    <!-- ページ独自CSS -->
    <link rel="stylesheet" type="text/css" href="<%- ejsRoot %>assets/vendor/popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="<%- ejsRoot %>assets/css/layout.css">
    <%# OGP %>
    <%- include(ejsRoot + '_component/_common/_ogp', {root: ejsRoot, ogType: 'article', ogTitle: pageTitle, ogDescription: pageDescription, ogUrl: pageCanonical}); %>
    <%# Googleタグマネージャー %>
    <%- include(ejsRoot + '_component/_common/_gtm') %>
</head>

<body>
    <%- include(ejsRoot + '_component/_common/_header', {root: ejsRoot, page: 'single'}) %>
    <!-- /header -->

    <div class="c-breadcrumb">
        <h1>hoge</h1>
    </div>

    <main class="c-main">
        <section class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong">アンカーリンク</h2>
                <div class="c-mt20">
                    <ul class="sample-anchor">
                        <% ttlName.forEach((v,i) => { %>
                            <li><a class="c-link" href="#<%- i + 1 %>" data-scroll><%- v %></a></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </section>
        <section id="1" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[0]}` %></h2>
                <div class="c-mt20">
                    <p>SP時 横スクロールあり</p>
                    <div class="c-tbl-scroll">
                        <table class="c-tbl">
                            <thead>
                                <tr>
                                    <th>基本情報</th>
                                    <th>お試し</th>
                                    <th>ライト</th>
                                    <th>レギュラー</th>
                                    <th>プレミアム</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>価格</th>
                                    <td>無料</td>
                                    <td>5,000円</td>
                                    <td>10,000円</td>
                                    <td>50,000円</td>
                                </tr>
                                <tr>
                                    <th>登録人数</th>
                                    <td>1名まで</td>
                                    <td>10名まで</td>
                                    <td>50名まで</td>
                                    <td>300名まで</td>
                                </tr>
                                <tr>
                                    <th>ストレージ容量</th>
                                    <td>100MB</td>
                                    <td>10GB</td>
                                    <td>50GB</td>
                                    <td>100GB</td>
                                </tr>
                                <tr>
                                    <th>オプション</th>
                                    <td>無し</td>
                                    <td>ダミーテキスト、このテキストはダミーです。</td>
                                    <td>いろはにほへとちりぬるお</td>
                                    <td>hoge</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="c-tbl-scroll-note">右にスクロールできます→</p>
                </div>
                <div class="c-mt20">
                    <p>通常版</p>
                    <table class="c-tbl">
                        <thead>
                            <tr>
                                <th>基本情報</th>
                                <th>お試し</th>
                                <th>ライト</th>
                                <th>レギュラー</th>
                                <th>プレミアム</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>価格</th>
                                <td>無料</td>
                                <td>5,000円</td>
                                <td>10,000円</td>
                                <td>50,000円</td>
                            </tr>
                            <tr>
                                <th>登録人数</th>
                                <td>1名まで</td>
                                <td>10名まで</td>
                                <td>50名まで</td>
                                <td>300名まで</td>
                            </tr>
                            <tr>
                                <th>ストレージ容量</th>
                                <td>100MB</td>
                                <td>10GB</td>
                                <td>50GB</td>
                                <td>100GB</td>
                            </tr>
                            <tr>
                                <th>オプション</th>
                                <td>無し</td>
                                <td>ダミーテキスト、このテキストはダミーです。</td>
                                <td>いろはにほへとちりぬるお</td>
                                <td>hoge</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- /テーブル -->
        <section id="2" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[1]}` %></h2>
                <div class="c-mt20">
                    <form action="./" method="post">
                        <input class="c-input" type="email" name="email" autocomplete="email">
                        <%#
                        inputタグには適宜、autocomplete属性を追記する
                        例：https://developer.mozilla.org/ja/docs/Web/HTML/Attributes/autocomplete
                        %>
                        <button class="c-input-btn c-strong" type="submit">送信</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- /入力フォーム -->
        <section id="3" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[2]}` %></h2>
                <div class="c-tab c-tab--col3">
                    <div class="c-tab-list" role="tablist" data-tab-list>
                        <button id="tab-1" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-1" data-tab-active data-tab="tab-1">タブ切り替え 1</button>
                        <button id="tab-2" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-2" data-tab="tab-2">タブ切り替え 2</button>
                        <button id="tab-3" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-3" data-tab="tab-999">タブ切り替え 3</button>
                    </div>
                    <div class="c-tab-content" data-tab-content>
                        <div id="panel-1" class="c-tab-item" role="tabpanel" aria-labelledby="tab-1" data-tab-item data-tab-active data-tab="tab-1">
                            <p>タブ切り替え 1のコンテンツ</p>
                        </div>
                        <!-- /タブ切り替え 3 -->
                        <div id="panel-2"class="c-tab-item" role="tabpanel" aria-labelledby="tab-2" data-tab-item data-tab="tab-2">
                            <p>タブ切り替え 2のコンテンツ<br>(URLにパラメータを入れるとロード時にタブが開きます　パラメータ：#3?p=tab-2)</p>
                        </div>
                        <!-- /タブ切り替え 4 -->
                        <div id="panel-3"class="c-tab-item" role="tabpanel" aria-labelledby="tab-3" data-tab-item data-tab="tab-999">
                            <p>タブ切り替え 3のコンテンツ<br>(URLにパラメータを入れるとロード時にタブが開きます　パラメータ：#3?p=tab-3)</p>
                        </div>
                        <!-- /タブ切り替え 5 -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /タブ切り替え -->
        <section id="4" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[3]}` %></h2>
                <div class="c-mt20">
                    <div class="c-youtube-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d850494.5342862558!2d130.58595375000002!3d33.62490775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541817af77eb125%3A0x97a20ffb4a51384d!2z56aP5bKh55yM!5e0!3m2!1sja!2sjp!4v1663725211225!5m2!1sja!2sjp" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                </div>
            </div>
        </section>
        <!-- /Google Maps埋め込み -->
        <section id="5" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[4]}` %></h2>
                <div class="c-mt20 sample-btn">
                    <a class="modal-video-link" href="https://www.youtube.com/watch?v=FTWH1Fdkjow" data-popup-video>
                        <img src="https://placehold.jp/24/000000/ffffff/250x50.png?text=sample" width="250" height="50">
                    </a>
                </div>
            </div>
        </section>
        <!-- /モーダルウィンドウ(YouTube埋め込み) -->
        <section id="6" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[5]}` %></h2>
                <div class="c-mt20">
                    <p>あの<span class="c-highlight c-strong">イーハトーヴォ</span>のすきとおった風、夏でも底に冷たさをもつ<span class="c-strong">青いそら</span>、<span class="c-highlight">うつくしい森で飾られたモリーオ市</span>、郊外のぎらぎらひかる草の波。</p>
                </div>
            </div>
        </section>
        <!-- /テキスト強調 -->
        <section id="7" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[6]}` %></h2>
                <dl class="c-mt20">
                    <dt class="accordion-head" data-accordion-head>
                        <span class="accordion-head__content">アコーディオン</span>
                    </dt>
                    <dd class="accordion-body">
                        後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大
                    </dd>
                    <dt class="accordion-head" data-accordion-head>
                        <span class="accordion-head__content">アコーディオン この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</span>
                    </dt>
                    <dd class="accordion-body">
                        つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）
                    </dd>
                    <dt class="accordion-head" data-accordion-head>
                        <span class="accordion-head__content">アコーディオン</span>
                    </dt>
                    <dd class="accordion-body">
                        後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大
                    </dd>
                </dl>
            </div>
        </section>
        <!-- /汎用アコーディオン -->
        <section id="8" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[7]}` %></h2>
                <div class="c-mt20">
                    <div class="sample-col" data-auto-height>
                        <dl class="sample-col-item" data-auto-height-item>
                            <dt>hoge</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                        </dl>
                        <dl class="sample-col-item" data-auto-height-item>
                            <dt>hogehoge</dt>
                            <dd><img src="<%- ejsRoot %>assets/img/common/169-600x480.jpg" alt="ダミー画像"></dd>
                            <dd>つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）</dd>
                        </dl>
                        <dl class="sample-col-item" data-auto-height-item>
                            <dt>hogehoge</dt>
                            <dd><img src="<%- ejsRoot %>assets/img/common/640x500.png" alt="ダミー画像"></dd>
                            <dd>後ろで大きな爆発音がした。俺は驚いて振り返った。</dd>
                        </dl>
                        <dl class="sample-col-item" data-auto-height-item>
                            <dt>hoge</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
        <!-- /要素内の高さ揃え -->
        <section id="9" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[8]}` %></h2>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content">通常</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content">ボタン内のテキストが2列以上になる時</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn c-btn--center" href="#">
                        <span class="c-btn-content">ボタン中央寄せ</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content c-btn-content--top">上矢印</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content c-btn-content--bottom">下矢印</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content c-btn-content--left">左矢印</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- /汎用ボタン -->
    </main>
    <!-- /main -->

    <%- include(ejsRoot + '_component/_common/_footer', {root: ejsRoot, page: 'single'}); %>
    <!-- /footer -->
    <%# 共通JS %>
    <%- include(ejsRoot + '_component/_common/_js', {root: ejsRoot}); %>
    <%# ページ独自JSがある場合は、下記に記述 %>
    <script src="<%- ejsRoot %>assets/vendor/popup/jquery.magnific-popup.min.js" defer></script>
    <script src="<%- ejsRoot %>assets/js/layout.js" defer></script>
</body>

</html>