<%# ejsRootは都度変更する %>
<% const ejsRoot = '../'; %>
<%
    const pageTitle = "レイアウトページ | hoge";
    const pageDescription = "レイアウトページのディスクプリクション | hoge";
    const pageCanonical = "https://www.hoge.jp/";
%>

<%# 見出し %>
<%
    const ttlName = [
        'テーブル',
        'validatorjsを使ったバリデーション',
        'タブ切り替え',
        'Google Maps埋め込み',
        'モーダルウィンドウ(YouTube埋め込み)',
        'テキスト',
        '汎用アコーディオン',
        '要素内の高さ揃え',
        '汎用ボタン',
        '時間ごとの要素の出し分け',
        '複数のモーダル表示のYouTube動画を自動再生',
        'フローティングバナー',
        'GSAPを使ったアニメーション実装'
    ];
%>

<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

<head>
    <%# Googleタグマネージャー %>
    <%- include(ejsRoot + '_component/_common/_gtm') %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pageTitle %></title>
    <meta name="description" content="<%- pageDescription %>">
    <meta name="keywords" content="hoge">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="<%= pageCanonical %>">
    <%# 共通CSS %>
    <%- include(ejsRoot + '_component/_common/_css', {root: ejsRoot}); %>
    <!-- ページ独自CSS -->
    <link rel="stylesheet" type="text/css" href="<%- ejsRoot %>assets/vendor/popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="<%- ejsRoot %>assets/css/layout.css">
    <%# OGP %>
    <%- include(ejsRoot + '_component/_common/_ogp', {root: ejsRoot, ogType: 'article', ogTitle: pageTitle, ogDescription: pageDescription, ogUrl: pageCanonical}); %>
</head>

<body>
    <%- include(ejsRoot + '_component/_common/_header', {root: ejsRoot, page: 'single'}) %>
    <!-- /header -->

    <div class="c-breadcrumb">
        <h1>hoge</h1>
    </div>

    <main class="c-main">
        <section class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong">アンカーリンク</h2>
                <div class="c-mt20">
                    <ul class="sample-anchor">
                        <% ttlName.forEach((v,i) => { %>
                            <li><a class="c-link" href="#<%- i + 1 %>" data-scroll="100"><%- v %></a></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </section>
        <section id="1" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[0]}` %></h2>
                <div class="c-mt20">
                    <p>SP時 横スクロールあり</p>
                    <div class="c-tbl-scroll">
                        <table class="c-tbl">
                            <thead>
                                <tr>
                                    <th>基本情報</th>
                                    <th>お試し</th>
                                    <th>ライト</th>
                                    <th>レギュラー</th>
                                    <th>プレミアム</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>価格</th>
                                    <td>無料</td>
                                    <td>5,000円</td>
                                    <td>10,000円</td>
                                    <td>50,000円</td>
                                </tr>
                                <tr>
                                    <th>登録人数</th>
                                    <td>1名まで</td>
                                    <td>10名まで</td>
                                    <td>50名まで</td>
                                    <td>300名まで</td>
                                </tr>
                                <tr>
                                    <th>ストレージ容量</th>
                                    <td>100MB</td>
                                    <td>10GB</td>
                                    <td>50GB</td>
                                    <td>100GB</td>
                                </tr>
                                <tr>
                                    <th>オプション</th>
                                    <td>無し</td>
                                    <td>ダミーテキスト、このテキストはダミーです。</td>
                                    <td>いろはにほへとちりぬるお</td>
                                    <td>hoge</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="c-tbl-scroll-note">右にスクロールできます→</p>
                </div>
                <div class="c-mt20">
                    <p>スクロール無し</p>
                    <table class="c-tbl">
                        <thead>
                            <tr>
                                <th>基本情報</th>
                                <th>お試し</th>
                                <th>ライト</th>
                                <th>レギュラー</th>
                                <th>プレミアム</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>価格</th>
                                <td>無料</td>
                                <td>5,000円</td>
                                <td>10,000円</td>
                                <td>50,000円</td>
                            </tr>
                            <tr>
                                <th>登録人数</th>
                                <td>1名まで</td>
                                <td>10名まで</td>
                                <td>50名まで</td>
                                <td>300名まで</td>
                            </tr>
                            <tr>
                                <th>ストレージ容量</th>
                                <td>100MB</td>
                                <td>10GB</td>
                                <td>50GB</td>
                                <td>100GB</td>
                            </tr>
                            <tr>
                                <th>オプション</th>
                                <td>無し</td>
                                <td>ダミーテキスト、このテキストはダミーです。</td>
                                <td>いろはにほへとちりぬるお</td>
                                <td>hoge</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- /テーブル -->
        <section id="2" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[1]}` %></h2>
                <p class="c-mt20">
                    inputタグにautocomplete属性を設定することで、フォームへの自動入力を有効にしています。<br>
                    <!-- 値：<a class="c-link c-nowrap" href="https://developer.mozilla.org/ja/docs/Web/HTML/Attributes/autocomplete#%E5%80%A4" target="_blank">https://developer.mozilla.org/ja/docs/Web/HTML/Attributes/autocomplete#%E5%80%A4</a> -->
                </p>
                <!-- <form id="postForm" action="../" method="get">
                    <dl class="sample-form">
                        <dt>メールアドレス</dt>
                        <dd><input class="c-input sample-form-w500" type="email" name="email" autocomplete="email" placeholder="例：hoge@mentaiko.co.jp" required="required" /></dd>
                    </dl>
                    <div class="sample-form-btn">
                        <button class="sample-form-btn__content">送信する</button>
                    </div>
                </form> -->
                <form id="myForm" action="../" method="get">
                    <dl class="sample-form">
                        <dt><label for="name">名前</label></dt>
                        <dd><input class="c-input sample-form-w200" type="text" id="name" name="name" placeholder="例：山田太郎"></dd>
                        <dt><label for="age">年齢</label></dt>
                        <dd>
                            <input class="c-input sample-form-w100" type="number" id="age" name="age">
                            <span class="sample-form-note">18歳以上で入力してください</span>
                        </dd>
                        <dt><label for="email">メールドレス</label></dt>
                        <dd><input class="c-input sample-form-w500" type="email" id="email" name="email" placeholder="例：hoge@mentaiko.co.jp"></dd>
                        <dt><label for="email_confirmation">メールドレス(確認)</label></dt>
                        <dd><input class="c-input sample-form-w500" type="email" id="email_confirmation" name="email_confirmation" placeholder="例：hoge@mentaiko.co.jp"></dd>
                    </dl>
                    <div class="sample-form-btn">
                        <button class="sample-form-btn__content" type="button" onclick="validateForm()">Submit</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- /validatorjsを使ったバリデーション -->
        <section id="3" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[2]}` %></h2>
                <p class="c-mt20">
                    URLパラメータによって初期表示タブを切り替える事ができます。<br>
                    ボタンとパネル内の'[data-tab]'属性の値を変える事で、パラメーター名の変更が可能です。
                </p>
                <div class="c-mt20">
                    <ul class="sample-anchor">
                        <li><a class="c-link" href="./?p=udon#3">「うどん」を開いた状態</a></li>
                        <li><a class="c-link" href="./?p=soba#3">「そば」を開いた状態</a></li>
                        <li><a class="c-link" href="./?p=ramen#3">「ラーメン」を開いた状態</a></li>
                    </ul>
                </div>
                <div class="c-mt60">
                    <div class="c-tab c-tab--col3">
                        <div class="c-tab-list" role="tablist" data-tab-list>
                            <button id="tab-1" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-1" data-tab-active data-tab="udon">うどん</button>
                            <button id="tab-2" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-2" data-tab="soba">そば</button>
                            <button id="tab-3" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-3" data-tab="ramen">ラーメン</button>
                        </div>
                        <div class="c-tab-content" data-tab-content>
                            <div id="panel-1" class="c-tab-item" role="tabpanel" aria-labelledby="tab-1" data-tab-item data-tab-active data-tab="udon">
                                <p>「うどん」のコンテンツ<br>(URLにパラメータを入れるとロード時にタブが開きます　パラメータ：?p=udon)</p>
                            </div>
                            <div id="panel-2"class="c-tab-item" role="tabpanel" aria-labelledby="tab-2" data-tab-item data-tab="soba">
                                <p>「そば」のコンテンツ<br>(URLにパラメータを入れるとロード時にタブが開きます　パラメータ：?p=soba)</p>
                            </div>
                            <div id="panel-3"class="c-tab-item" role="tabpanel" aria-labelledby="tab-3" data-tab-item data-tab="ramen">
                                <p>「ラーメン」のコンテンツ<br>(URLにパラメータを入れるとロード時にタブが開きます　パラメータ：?p=ramen)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /タブ切り替え -->
        <section id="4" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[3]}` %></h2>
                <div class="c-mt20">
                    <div class="c-youtube-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d850494.5342862558!2d130.58595375000002!3d33.62490775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541817af77eb125%3A0x97a20ffb4a51384d!2z56aP5bKh55yM!5e0!3m2!1sja!2sjp!4v1663725211225!5m2!1sja!2sjp" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                </div>
            </div>
        </section>
        <!-- /Google Maps埋め込み -->
        <section id="5" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[4]}` %></h2>
                <div class="c-mt20 sample-btn">
                    <a class="modal-video-link" href="https://www.youtube.com/watch?v=FTWH1Fdkjow" data-popup-video aria-label="開く" aria-haspopup="true">
                        <img src="https://placehold.jp/24/000000/ffffff/250x50.png?text=sample" width="250" height="50">
                    </a>
                </div>
            </div>
        </section>
        <!-- /モーダルウィンドウ(YouTube埋め込み) -->
        <section id="6" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[5]}` %></h2>
                <div class="c-mt20">
                    <p>テキスト強調：</p>
                    <p>あの<span class="c-highlight c-strong">イーハトーヴォ</span>のすきとおった風、夏でも底に冷たさをもつ<span class="c-strong">青いそら</span>、<span class="c-highlight">うつくしい森で飾られたモリーオ市</span>、郊外のぎらぎらひかる草の波。</p>
                </div>
                <div class="c-mt20">
                    <p>英語テキストやURLを成り行きで改行：<br><a class="c-nowrap c-link" href="https://developer.mozilla.org/ja/docs/Web/HTML#%E5%88%9D%E5%BF%83%E8%80%85%E5%90%91%E3%81%91%E3%83%81%E3%83%A5%E3%83%BC%E3%83%88%E3%83%AA%E3%82%A2%E3%83%AB" target="_blank">https://developer.mozilla.org/ja/docs/Web/HTML#%E5%88%9D%E5%BF%83%E8%80%85%E5%90%91%E3%81%91%E3%83%81%E3%83%A5%E3%83%BC%E3%83%88%E3%83%AA%E3%82%A2%E3%83%AB</a></p>
                </div>
                <div class="c-mt20">
                    <p>文字色指定：<br>私は毎日ジョギングをすることが好きです。<span class="c-color-rd">朝早い時間</span>に起きて、空気がとてもきれいなところでジョギングするのが好きです。汗をかいて心身ともに<span class="c-color-bl">リフレッシュ</span>することができます。</p>
                </div>
                <div class="c-mt20">
                    <ul class="c-list">
                        <li>ダミーテキスト。このテキストはダミーです。</li>
                        <li>ダミーテキスト。このテキストはダミーです。ダミーテキスト。このテキストはダミーです。ダミーテキスト。このテキストはダミーです。ダミーテキスト。このテキストはダミーです。ダミーテキスト。このテキストはダミーです。</li>
                    </ul>
                </div>
                <div class="c-mt20">
                    <p>テキスト改行禁止(ただし、要素の幅によって成り行きで改行します)：</p>
                    <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。<span class="c-nowrap">『カギカッコで括った文字を改行禁止』</span></p>
                </div>
            </div>
        </section>
        <!-- /テキスト -->
        <section id="7" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[6]}` %></h2>
                <dl class="c-mt20">
                    <dt class="accordion-head" data-accordion-head>
                        <span class="accordion-head__content">アコーディオン</span>
                    </dt>
                    <dd class="accordion-body">
                        後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大
                    </dd>
                    <dt class="accordion-head" data-accordion-head>
                        <span class="accordion-head__content">アコーディオン この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</span>
                    </dt>
                    <dd class="accordion-body">
                        つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）
                    </dd>
                    <dt class="accordion-head" data-accordion-head>
                        <span class="accordion-head__content">アコーディオン</span>
                    </dt>
                    <dd class="accordion-body">
                        後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大
                    </dd>
                </dl>
            </div>
        </section>
        <!-- /汎用アコーディオン -->
        <section id="8" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[7]}` %></h2>
                <div class="c-mt20">
                    <div class="sample-col" data-auto-height>
                        <dl class="sample-col-item" data-auto-height-item>
                            <dt>hoge</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                        </dl>
                        <dl class="sample-col-item" data-auto-height-item>
                            <dt>hogehoge</dt>
                            <dd><img src="<%- ejsRoot %>assets/img/common/169-600x480.jpg" alt="ダミー画像"></dd>
                            <dd>つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）</dd>
                        </dl>
                        <dl class="sample-col-item" data-auto-height-item>
                            <dt>hogehoge</dt>
                            <dd><img src="<%- ejsRoot %>assets/img/common/640x500.png" alt="ダミー画像"></dd>
                            <dd>後ろで大きな爆発音がした。俺は驚いて振り返った。</dd>
                        </dl>
                        <dl class="sample-col-item" data-auto-height-item>
                            <dt>hoge</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
        <!-- /要素内の高さ揃え -->
        <section id="9" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[8]}` %></h2>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content">通常</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content">ボタン内のテキストが2列以上になる時</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn">
                        <span class="c-btn-content">a要素に`href`属性がない時は、hoverスタイルは無し。</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn c-btn--center" href="#">
                        <span class="c-btn-content">ボタン中央寄せ</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content c-btn-content--top">上矢印</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content c-btn-content--bottom">下矢印</span>
                    </a>
                </div>
                <div class="c-mt20">
                    <a class="c-btn" href="#">
                        <span class="c-btn-content c-btn-content--left">左矢印</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- /汎用ボタン -->
        <section id="10" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[9]}` %></h2>
                <p id="odd_number" class="c-mt20">
                    このテキストは時刻が<span class="c-highlight c-strong c-color-rd">奇数(odd)</span>の時に表示されます
                </p>
                <p id="even_number" class="c-mt20">
                    このテキストは時刻が<span class="c-highlight c-strong c-color-bl">偶数(even)</span>の時に表示されます
                </p>
                <p id="business_hours" class="c-mt20">
                    このテキストは時刻が<span class="c-highlight c-strong">営業時間(9時～18時)</span>の間だけ表示されます。
                </p>
                <p id="off_hours" class="c-mt20">
                    このテキストは時刻が<span class="c-highlight c-strong">営業時間外(18時1分～翌日8時59分)</span>の間だけ表示されます。
                </p>
            </div>
        </section>
        <!-- /時間ごとの要素の出し分け -->
        <section id="11" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[10]}` %></h2>
                <!-- 動画サムネイルリスト部分 -->
                <div class="c-modal-thumbnail">
                    <div class="c-modal-thumbnail-item">
                        <a href="#AkgDid5oYFM" data-video-play>
                        <figure>
                            <img src="https://placehold.jp/30/3d4070/ffffff/300x240.png?text=Sample" alt="再生する">
                            <figcaption>サムネイルキャプション</figcaption>
                        </figure>
                        </a>
                    </div>
                    <div class="c-modal-thumbnail-item">
                        <a href="#XZTv1Rg_H5Y" data-video-play>
                        <figure>
                            <img src="https://placehold.jp/30/3d4070/ffffff/300x240.png?text=Sample" alt="再生する">
                            <figcaption>サムネイルキャプション</figcaption>
                        </figure>
                        </a>
                    </div>
                    <div class="c-modal-thumbnail-item">
                        <a href="#KKsbMLCrSZU" data-video-play>
                        <figure>
                            <img src="https://placehold.jp/30/3d4070/ffffff/300x240.png?text=Sample" alt="再生する">
                            <figcaption>サムネイルキャプション</figcaption>
                        </figure>
                        </a>
                    </div>
                </div>

                <!-- モーダル＆動画インラインフレーム部分 -->
                <div id="auto-play" class="c-modal-wrap">
                    <div id="auto-play-modal" class="c-modal-container">
                        <div class="c-modal-panel">
                            <div class="c-modal-frame">
                                <div id="AkgDid5oYFM" data-youtube-video aria-label="YouTubeを再生する" aria-haspopup="true"></div>
                                <div id="XZTv1Rg_H5Y" data-youtube-video aria-label="YouTubeを再生する" aria-haspopup="true"></div>
                                <div id="KKsbMLCrSZU" data-youtube-video aria-label="YouTubeを再生する" aria-haspopup="true"></div>
                            </div>
                            <button id="auto-play-close" class="c-modal-close" aria-label="閉じる"></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /複数のモーダル表示のYouTube動画を自動再生 -->
        <section id="12" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[11]}` %></h2>
                <p class="c-mt20">「ページの先頭へ戻る」または「画面内にフッターが表示される」とバナーは非表示になります。</p>
            </div>
            <div class="c-floating-bnr" data-floating>
                <a class="c-floating-bnr__btn" href="../"><img src="https://placehold.jp/0d6efd/ffffff/300x300.png?text=%E3%83%95%E3%83%AD%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0%E3%83%90%E3%83%8A%E3%83%BC" alt="フローティングバナー"></a>
            </div>
        </section>
        <!-- /フローティングバナー -->
        <section id="13" class="c-section">
            <div class="c-section__content">
                <h2 class="c-strong"><%- `${ttlName[12]}` %></h2>
                <div id="dispersionMotion" class="c-mt20"></div>
            </div>
        </section>
        <!-- /GSAPを使ったアニメーション実装 -->
    </main>
    <!-- /main -->

    <%- include(ejsRoot + '_component/_common/_footer', {root: ejsRoot, page: 'single'}); %>
    <!-- /footer -->
    <%# 共通JS %>
    <%- include(ejsRoot + '_component/_common/_js', {root: ejsRoot}); %>
    <%# ページ独自JSがある場合は、下記に記述 %>
    <script src="<%- ejsRoot %>assets/vendor/popup/jquery.magnific-popup.min.js" defer></script>
    <!-- YouTube IFrame Player API  -->
    <script src="https://www.youtube.com/iframe_api" defer></script>
    <script src="<%- ejsRoot %>assets/vendor/youtube-iframe-api/script.js" defer></script>
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js" defer></script>
    <!-- validatorjs -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/validatorjs@3.7.0/dist/validator.js"></script> -->
    <script src="<%- ejsRoot %>assets/vendor/validatorjs/validator.js" defer></script>
    <script src="<%- ejsRoot %>assets/vendor/validatorjs/lang/ja.js" defer></script>
    <script src="<%- ejsRoot %>assets/vendor/validatorjs/sample.js" defer></script>
    <script src="<%- ejsRoot %>assets/js/layout.js" defer></script>
</body>

</html>