<%
    const articleList = [
        {
            thumbnail: 'assets/img/common/300x240.png',
            alt: 'サムネイル画像',
            class: 'info',
            label: 'お知らせ',
            title: 'ダミーテキスト 2行になった時のテスト',
            text: 'ダミーテキスト。このテキストはダミーですこのテキストはダミーです...'
        },
        {
            thumbnail: 'assets/img/common/300x240.png',
            alt: 'サムネイル画像',
            class: 'product',
            label: '製品情報',
            title: 'ダミーテキスト',
            text: 'ダミーテキスト。このテキストはダミーですこのテキストはダミーです...ダミーテキスト。このテキストはダミーですこのテキストはダミーです...ダミーテキスト。このテキストはダミーですこのテキストはダミーです...'
        },
        {
            thumbnail: 'assets/img/common/300x240.png',
            alt: 'サムネイル画像',
            class: 'other',
            label: 'その他',
            title: 'ダミーテキスト',
            text: 'ダミーテキスト。このテキストはダミーですこのテキストはダミーです...'
        },
        {
            thumbnail: 'assets/img/common/300x240.png',
            alt: 'サムネイル画像',
            class: 'service',
            label: 'サービス',
            title: 'ダミーテキスト',
            text: 'ダミーテキスト。このテキストはダミーですこのテキストはダミーです...'
        }
    ];
%>

<div class="c-article-card">
    <div class="c-article-card__content">
        <% articleList.forEach((v,i) => { %>
            <article class="c-article-card__item">
                <a class="c-article-card__link" href="">
                    <div class="c-article-card__head">
                        <img src="<%- root %><%- v.thumbnail %>" alt="<%- v.alt %>">
                    </div>
                    <div class="c-article-card__body">
                        <h2 class="c-article-card__title">
                            <span class="c-article-card-label c-article-card-label--<%- v.class %>"><%- v.label %></span>
                            <span>その<%- i+1 %> | <%- v.title %></span>
                        </h2>
                        <p class="c-article-card__text"><%- v.text %></p>
                        <span class="c-article-card__data">2020.01.01</span>
                    </div>
                </a>
            </article>
        <% }) %>
    </div>
</div>